{% extends 'layouts/app_title.twig' %}

{% block js %}
    <script>
        $(function () {
            App.initForm();
        });
    </script>
{% endblock %}

{% block title %}
    {{ __('Change password') }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="alert alert-warning" role="alert">
                {{ __('The new password must be different from the current one and have more than 4 characters (letters or numbers).') }}
            </div>

            <form action="{{ path_for('change_password') }}" id="form" method="post" autocomplete="off">
                {{ csrf_field() }}

                <div class="form-group row">
                    <label for="current_password" class="col-form-label col-sm-3">
                        {{ __('Current password') }}
                    </label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="current_password" autofocus>
                    </div>
                </div><!-- form-group -->

                <div class="form-group row">
                    <label for="password" class="col-form-label col-sm-3">
                        {{ __('New password') }}
                    </label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="password">
                    </div>
                </div><!-- form-group -->

                <div class="form-group row">
                    <label for="password_confirmation" class="col-form-label col-sm-3">
                        {{ __('Confirm new password') }}
                    </label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="password_confirmation">
                    </div>
                </div><!-- form-group -->

                <div class="row">
                    <div class="offset-sm-3 col-sm-9">
                        <button type="submit" class="btn btn-success">
                            {{ __('Change password') }}
                        </button>
                    </div>
                </div><!-- row -->
            </form>
        </div><!-- card-body -->
    </div><!-- card -->
{% endblock %}
