{% extends 'layouts/app.twig' %}

{% set can_delete = auth.user.can('delete', document) %}
{% set can_edit = auth.user.can('edit', document) %}

{% block content %}
    <div class="card h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                {{ document.full_name }}
    
                {% if latest_version %}
                    {{ __('(Version %s)')|format(latest_version.version) }}
                    {{ latest_version.status_html|raw }}
                {% endif %}
            </div>
            
            <div>
                <a href="{{ path_for('documents.index') }}" class="btn btn-secondary">
                    <i class="fa fa-table"></i>
                    {{ __('All Documents') }}
                </a>

                {% if can_edit %}
                    <a href="{{ path_for('documents.edit', {document: document.id}) }}" class="btn btn-primary">
                        <i class="fa fa-pencil"></i>
                        {{ __('Edit') }}
                    </a>
                {% endif %}
                
                {% if can_delete %}
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">
                        <i class="fa fa-trash"></i>
                        {{ __('Delete') }}
                    </button>
                {% endif %}
            </div>
        </div>

        {% if latest_version is null %}
            <div class="card-body d-flex justify-content-center align-items-center">
                {% if can_edit %}
                    <a href="{{ path_for('documents_versions.create', {document: document.id}) }}" class="btn btn-success">
                        {{ __('Create First Version') }}
                    </a>
                {% endif %}
            </div>
        {% else %}
            {% if latest_version.has_file %}
                <div class="h-100 w-100" style="background: #d1d1d1;">
                    <iframe src="https://docs.google.com/viewer?url={{ latest_version.file_url }}&embedded=true" class="w-100 h-100" frameborder="0"></iframe>
                </div>
            {% endif %}

            <div class="card-footer bg-white">
                <div class="d-flex justify-content-between">
                    <div>
                        <p>{{ latest_version.changes|nl2br }}</p>
                        <small class="text-muted">
                            {{ __('Created') }}: {{ latest_version.createdBy.name }} @ {{ latest_version.created_at|date() }}
                            <br>

                            {% if latest_version.reviewed_by %}
                                {{ __('Reviewed') }}: {{ latest_version.reviewedBy.name }} @ {{ latest_version.reviewed_at|date() }}
                                <br>
                            {% endif %}

                            {% if latest_version.approved_by %}
                                {{ __('Approved') }}: {{ latest_version.approvedBy.name }} @ {{ latest_version.approved_at|date() }}
                                <br>
                            {% endif %}
                        </small>
                    </div>
                    <div>
                        {% for transition in workflow.allowedTransitions(latest_version) %}
                            <form action="{{ path_for('documents_versions.transition', {document: document.id, version: latest_version.id}) }}" class="d-inline" method="post">
                                {{ csrf_field() }}

                                <input type="hidden" name="transition" value="{{ transition.name }}">

                                <button type="submit" class="btn btn-{{ transition.properties.class }}">
                                    {{ transition.properties.title }}
                                </button>
                            </form>
                        {% endfor %}

                        {% if auth.user.can('destroy', latest_version) %}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-version-modal">
                                <i class="fa fa-trash"></i>
                                {{ __('Discard') }}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div><!-- card -->

    {% if can_delete %}
        {% include 'documents/partials/modal_delete.twig' %}
    {% endif %}

    {% if latest_version and auth.user.can('destroy', latest_version) %}
        {% include 'documents/partials/modal_version_delete.twig' with {version: latest_version} %}
    {% endif %}
{% endblock %}
