{% extends 'layouts/app.twig' %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            var $preview = $('#preview');

            function loadingPreview() {
                $preview.html('\
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>\
                    <span class="sr-only">Loading...</span>\
                ');
            }

            function emptyPreview() {
                $preview.html('\
                    <div class="text-muted">\
                        <i class="fa fa-eye-slash fa-3x fa-fw"></i>\
                        <div>No preview available</div>\
                    </div>\
                ');
            }

            function preview(url) {
                var $iframe = $('<iframe/>', {
                    src: 'https://docs.google.com/viewer?url='+ url +'&embedded=true',
                    style: 'display:none; border: none; width:100%;',
                });

                $iframe.on('load', function (e) {
                    $(this).show();
                });

                $preview.empty().append($iframe);
            }

            $('#btn-clear').click(function (e) {
                var form = document.getElementById('filter-form');

                $('input', form).val('');
                $('checkbox', form).removeAttr('checked');
                $('select', form).each(function () {
                    this.selectedIndex = 0;
                });

                form.submit();
            });

            $('#documents-list a').on('click', function (e) {
                var url = this.dataset.url;

                e.preventDefault();
                
                loadingPreview();

                if (url) {
                    preview(url);
                } else {
                    emptyPreview();
                }

                $(this).tab('show');
            });

            emptyPreview();
            filterSummary();


            // $('tr.document-row').click(function (e) {
            //     var url = this.dataset.url;
                
            //     $('tr.document-row').removeClass('table-active');
            //     $(this).addClass('table-active');

            //     $preview.empty();

            //     if (url) {
            //         var iframe = document.createElement('iframe');
            //         iframe.src = 'https://docs.google.com/viewer?url='+ url +'&embedded=true';
            //         iframe.classList.add('w-100');
            //         iframe.frameBorder = 0;

            //         $preview.append(iframe);
            //     } else {
            //         $preview.append('\
            //             No Preview\
            //         ');
            //     }
            // });
        });
    </script>
{% endblock %}

{% block title %}
    {{ __('Current documents') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body border-bottom">
                    <form action="">
                        <div class="input-group">
                            <input type="text" id="search-code_or_name" name="code_or_name" class="form-control" placeholder="{{ __('Search') }}" value="{{ filter.value('code_or_name') }}" autofocus>
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#filter-modal">
                                  <i class="fa fa-sliders"></i>
                              </button>
                            </div>
                        </div>
                    </form>
                </div>

                {% if documents is empty %}
                    {{ __('No data') }}
                {% else %}
                    <div id="documents-list" class="list-group list-group-flush">
                        {% for document in documents %}
                            {% set version = document.currentVersion %}

                            <a class="list-group-item list-group-item-action" href="#" data-url="{{ version.file_url }}">
                                <div class="d-flex w-100 justify-content-between">
                                    <div>
                                        <div>
                                            {{ document.full_name }}
                                        </div>
        
                                        {% if version.published_days < 7 %}
                                            <span class="badge badge-warning">
                                                {{ __('New') }}
                                            </span>
                                        {% endif %}
                                    </div>
                                    <div class="text-right">
                                        <div>v. {{ version.version }}</div>
                                        <small>{{ version.approved_at|date() }}</small>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% include 'layouts/helpers/links.twig' with {paginator: documents} %}
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body text-center" id="preview">
                    
                </div>
            </div>
        </div>
    </div>

    {% include 'layouts/filters/modal.twig' %}
{% endblock %}
