<div class="table-responsive">
    <table class="table table-hover bg-white border">
        <thead class="thead-light">
            <tr>
                <th>{{ __('Document') }}</th>
                <th class="text-right">{{ __('Version') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
                {% set version = document.currentVersion %}

                <tr class="document-row" style="cursor: pointer;" data-url="{{ version.file_url }}">
                    <td>
                        {{ document.full_name }}

                        {% if version.published_days < 7 %}
                            <span class="badge badge-warning">
                                {{ __('New') }}
                            </span>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <div>
                            {{ version.version }}
                        </div>
                        <small class="text-muted">
                            {{ version.published_at|date() }}
                        </small>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
