<strong>{{ __('Name') }}</strong><br>
<p>{{ document_type.name }}</p>

<strong>{{ __('Prefix') }}</strong><br>
<p>{{ document_type.prefix ?: '-' }}</p>

<strong>{{ __('Next number') }}</strong><br>
<p>{{ document_type.next_number ?: '-' }}</p>