<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="filter-{{ name }}" name="{{ name }}" {{ checked ? 'checked' }} value="1">
        <label class="custom-control-label" for="filter-{{ name }}">
            {{ label }}
        </label>
    </div>
</div>