<div class="form-group">
    <label for="filter-{{ name }}">
        {{ label }}
    </label>
    <input type="text" id="filter-{{ name }}" name="{{ name }}" value="{{ value }}" class="form-control">
</div>