<p>
    ¡Hola {{ task.responsible.firstname }}!
</p>

<p>
    Se modificó una tarea que tienes asignada:
</p>

<ul>
    <li>Acción: {{ task.action.code }}</li>
    <li>Medida: {{ task.number }}</li>
    <li>Descripción: {{ task.description }}</li>
    <li>Vencimiento: {{ task.expiration_date|date() }}</li>
    <li>Modificó: {{ task.updatedBy.name }}</li>
</ul>

<a href="{{ base_url() }}{{ path_for('action_task.view', {action: task.action_id, task: task.id}) }}">Mostrar medida</a>
