<p>
    ¡Hola {{ task.responsible.firstname }}!
</p>

<p>
    Te fue asignada una nueva acción:
</p>

<ul>
    <li>{{ task.risk.code }}</li>
    <li>Número: {{ task.number }}</li>
    <li>Descripción: {{ task.description }}</li>
    <li>Vencimiento: {{ task.due_date|date() }}</li>
    <li>Creó: {{ task.createdBy.name }}</li>
</ul>

<a href="{{ base_url() }}{{ path_for('risk.view', {risk: task.risk_id}) }}">Mostrar</a>
