{% extends 'layouts/app.twig' %}

{% block js %}
    <script>
        function config() {
            return {
                url: '{{ path_for('customers.update', {customer: customer.id}) }}',
                method: 'put',
                model: {
                    code: '{{ customer.code }}',
                    name: '{{ customer.name }}',
                },
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div id="app" x-data="{ ...form(), ...config() }">
        <div class="card">
            <div class="card-header">
                {{ __('Edit') }} {{ customer.name }}
            </div>
            <div class="card-body">
                <form @submit.prevent="submit()" autocomplete="off">
                    {% include 'customers/partials/form.twig' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
