{% extends 'layouts/app.twig' %}

{% block js %}
    <script>
        function config() {
            return {
                url: '{{ path_for('customers.datatable') }}',
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div id="app" x-data="{ ...datatable(), ...config() }" x-init="loadData()">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                {{ __('Customers') }}
                <div>
                    {% if auth.user.can('customers.create') %}
                        <a href="{{ path_for('customers.create') }}" class="btn btn-success">
                            <i class="fa fa-plus"></i>
                            {{ __('Create') }}
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="card-body">
                <input type="text" x-model="search" x-on:input.debounce="filter()" class="form-control" placeholder="{{ __('Search') }}">
            </div>

            <table id="table" class="table table-hover m-0">
                <thead>
                    <tr>
                        <th class="text-right col-sm-2">{{ __('Code') }}</th>
                        <th>{{ __('Name') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="item in items" :key="item.id">
                        <tr>
                            <td class="text-right">
                                <div x-text="item.code"></div>
                            </td>
                            <td>
                                <div x-text="item.name"></div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>

            <div class="card-footer">
                {% include 'layouts/datatable/pagination.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
