{% extends 'layouts/app.twig' %}

{% set can_delete = auth.user.can('delete', nonconformity) %}
{% set can_edit = auth.user.can('edit', nonconformity) %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            {{ __('Showing Nonconformity') }}
            <div>
                <a href="{{ path_for('nonconformities.index') }}" class="btn btn-secondary">
                    <i class="fa fa-table"></i>
                    {{ __('All Nonconformities') }}
                </a>

                {% if can_edit %}
                    <a href="{{ path_for('nonconformities.edit', {nonconformity: nonconformity.id}) }}" class="btn btn-primary">
                        <i class="fa fa-pencil"></i>
                        {{ __('Edit') }}
                    </a>
                {% endif %}
                
                {% if can_delete %}
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">
                        <i class="fa fa-trash"></i>
                        {{ __('Delete') }}
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            {% include 'nonconformities/partials/details.twig' %}
            {% include 'layouts/helpers/audit.twig' with {model: nonconformity} %}
        </div><!-- card-body -->
    </div><!-- card -->

    {% if can_delete %}
        {% include 'nonconformities/partials/modal_delete.twig' %}
    {% endif %}
{% endblock %}
