<div class="form-group">
    <label for="code">
        {{ __('Code') }}
    </label>
    <input type="text" id="code" x-model="model.code" class="form-control" :class="{ 'is-invalid': errors.code }" required autofocus>
    <div class="invalid-feedback" x-text="errors.code"></div>
</div>

<div class="form-group">
    <label for="name">
        {{ __('Name') }}
    </label>
    <input type="text" id="name" x-model="model.name" class="form-control" :class="{ 'is-invalid': errors.name }" required>
    <div class="invalid-feedback" x-text="errors.name"></div>
</div>

<button type="submit" class="btn btn-success" :disabled="submitting">
    <i class="fa fa-fw fa-check" x-show="!submitting"></i>
    <i class="fa fa-fw fa-circle-o-notch fa-spin" x-show="submitting"></i>
    {{ customer.id ? __('Update') : __('Save') }}
</button>

<a href="{{ customer.id ? path_for('customers.show', {customer: customer.id}) : path_for('customers.index') }}" class="btn btn-link">
    {{ __('Cancel') }}
</a>